@include min(1200) {
    .desk-hide {
        display: none;
    }
    .main-nav {
        >ul {
            margin: 0;
            padding: 0;
            >li {
                display: inline-block;
                position: relative;
                padding: 0 25px;
                line-height: size(55);
                @include max(1350) {
                    padding: 0 18px; 
                }
                &.submenu i {
                    position: absolute;
                    width: 37px;
                    height: 33px;
                    top: 50%;
                    transform:translateY(-50%);
                    right: -5px;
                    cursor: pointer;
                    -webkit-transition: all ease 0.5s;
                    -moz-transition: all ease 0.5s;
                    -o-transition: all ease 0.5s;
                    transition: all ease 0.5s;
                    @include max(1350) {
                        right: -10px;
                    }
                }
                &.submenu i:after {
                    content: "";
                    height: 0;
                    width: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $primary-color;
                    position: absolute;
                    
                    right: 12px;
                    top: 14px;

                    z-index: 10;
                }
                &:last-child {
                    margin: 0;
                    ul {
                        left: auto;
                        right: 0;
                    }
                }
                >a {
                    display: block;
                    padding-left: 0;
                    padding-right: 0;
                    text-decoration: none;
                    position: relative;
                    color: $text-color;
                    font-weight: 200;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        background: $primary-color;
                        @include transition(all, ease, 0.5s);
                    }
                    &.active {
                        &:before {
                            width: 100%;
                        } 
                    }
                }
                &:hover {
                    >a {
                        @include transition(all, ease, 0.5s);
                        &:before {
                            width: 100%;
                        }
                    }
                    >ul {
                        display: block;
                    }
                }
                ul {
                    background: $white;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    width: 250px;
                    display: none;
                    list-style: none;
                    border: 1px solid #c7c7c745;
                    li {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 52px;
                        position: relative;
                        line-height:1.5;
                        &:after {
                            @include transition(all,ease-in,0.3sec);
                            position: absolute;
                            content: none;
                            width: 8px;
                            height: 8px;
                            background: #D6E7F0;
                            @include border-radius(50%);
                            left: 25px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:hover {
                            @include transition(all, ease, 0.3s); 
                            background: #F5FBFD;
                            &:after {
                                // background: $primary-color;
                            }  
                        }
                        a {
                            color: #212529;     
                        }
                        &:hover {
                            >ul {
                                display: block;
                                left: 250px;
                                top: 0;
                            }
                            >a {                          
                                color: black;
                                text-decoration:none;
                            }
                        }
                        &.submenu {
                            &::after {
                                content: "\e807";
                                font-family: $d-ico;
                                position: absolute;
                                right: 12px;
                                top: 50%;
                                transform: translateY(-50%);
                                pointer-events: none;
                                color: $primary-color;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .mob-btn {
        display: none;
    }
}

@include max(1199.98) {
    /*==== Menu ====*/
    .main-nav {
        display: block;
        position: fixed;
        max-width: 100%;
        top: 70px;
        padding: 45px;
        padding-top: 35px;
        right: 0;
        height: 100%;
        @include transition(all, ease-in-out, 0.3s);
        z-index: 3;
        width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transition: opacity .3s ease-in, transfrom .3s ease-out;
        -o-transition: opacity .3s ease-in, transfrom .3s ease-out;
        transition: opacity .3s ease-in, transfrom .3s ease-out;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        background: #fff;
        ul {
            margin: 0;
            padding: 0;
            display: block;
            margin-top: 0px;
            &.mnav {
                margin-bottom: 30px;
            }
            li {
                display: block;
                position: relative;
                
                span {
                    display: none;
                }
                a {
                    text-decoration: none;
                    font-size: 16px;
                    letter-spacing: 0.05rem;
                    display: block;
                    padding: 11px 11px;
                    font-weight: 500;
                    padding-left: 0;
                    padding-right: 0;
                    color: $title-color;
                    border-bottom: 1px solid #F0F2F4;
                }
                &.submenu i {
                    position: absolute;
                    width: 46px;
                    height: 46px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    transition: all ease 0.3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:after {
                        content: "";
                        height: 2px;
                        width: 20px;
                        background: black;
                        z-index: 10;
                        transform: rotate(90deg);
                           
                        -webkit-transition: all ease 0.3s;
                        -moz-transition: all ease 0.3s;
                        transition: all ease 0.3s;
                        
                    }
                    &:before {
                        content: "";
                        height: 2px;
                        width: 20px;
                        background: black;
                        z-index: 10;
                        position: relative;
                        left: 20px; 

                    }
                    
                }
                &.open>i{
                    &:after {
                        transform: rotate(0);
                    }
                }
               
            }
            ul {
                margin: 0;
                display: none;
                li {
                    &:last-child {
                        border-bottom: 0;
                    }
                    &:first-child {}
                    a {
                        padding-left: 20px;
                    }
                    ul a {
                        padding-left: 30px;
                    }
                }
            }
            .submenu {
                &.open {
                    >ul {
                        display: block;
                    }
                }
            }
        }
    }
    .show-menu {
        .main-nav {
            opacity: 1;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        .overlay {
            position: fixed;
            top: 60;
            left: 0;
            width: 100%;
            height: 100%;
            // background: rgba(#000, 0.3);
            z-index: 2;
        }
    }
    .mob-btn {
        position: absolute;
        margin: 0px;
        background-color: transparent;
        cursor: pointer;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        span {
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background: gray;
            transition: all 0.3s cubic-bezier(0,0,0.58,1);
        }

        .icon-left-1 {
            display: none;
            background: none;
            height: 0;
            width: 0;
        }

        span+span {
            margin-top: 5px;
        }
    }
}

.back-to-screen {
    display: none;
    font-size: 17px;
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    cursor: pointer;
    right: 2px;
    top: 8px;
    transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
}

body {
    &.show-menu {
        overflow: hidden;
        background: $white;
        .mob-btn {
            // opacity: 0;
            // z-index: -1;
            z-index: 9;
            span+span {
                width: 80%;
            }
            span+span+span {
                width: 50%;
            }
        }
    }
}