.date-wrap{
    p{
        font-size: rem(19)!important;
        line-height: 1;
        color: #777777;
        font-weight: 400!important;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        span{
            padding: rem(10);
            background-color: $yellow;
            display: block;
            margin-right: rem(15);
            color: $font-color;
            font-weight: 400;
        }
    }
}

.main-btn{
    background-color: $yellow;
    padding: rem(10) rem(25);
    border: 1px solid $yellow;
    font-weight: 500;
    font-size: rem(15);
    display: flex;
    align-items: center;
    cursor: pointer;
    span{
        font-size: rem(25);
        padding-right: rem(8);
    }
    &:hover{
        color: $yellow;
        background-color: $white;
    }
}

.bg-color{
    background-color: #e5e5e5;
}
input,select{
    outline: none;
    &:focus{
        outline: none;
    }
}
.title-underline{
    >h2{
        position: relative;
        margin-bottom: rem(10);
        &:after{
            content: '';
            position: absolute;
            bottom: rem(-15);
            background-color: rgba(123, 114, 114, 0.49);
            right: -20%;
            width: 120%;
            height: rem(1);
            @media screen and (max-width: 1199px) {
                right: 0%;
                width: 100%;
            }
        }
    }
}

h2.title{
    font-size: rem(36);
    margin-bottom: rem(30);
    font-weight: 600;
    color: $font-color;
    
    @media screen and (max-width: 992px) {
        font-size: rem(30);
    }
    @media screen and (max-width: 767px) {
        font-size: rem(24);
    }
}

ul{
    padding: 0;
}