.main-header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: rem(80);
    z-index: 1049;
    &.darkHeader{
        background-color: black;
    }
    .container-fluid{
        border-bottom: 1px solid rgba(255, 255, 255, 0.29);
        padding-top: rem(12.5);
        padding-right: 0;
        .logo{
            img{
                object-fit: cover;
                width: rem(100);
            }
        }
        .header-right{
            .main-nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                ul{
                    // border-right: 1px solid rgba(255, 255, 255, 0.29);
                    border-right : none;
                    li{
                        padding: 0;
                        a{
                            padding: rem(12.5);
                            @media screen and (max-width: 1366px){
                                padding: 12.5px 7px;
                            }
                            padding-top: 0;
                            padding-bottom: 0;
                            color:white;
                            font-weight: 500;
                            line-height: rem(24);
                            height: rem(65);
                            display: flex;
                            align-items: center;
                            font-size: rem(17);
                            @media screen and (max-width: 1450px) {
                                font-size: rem(15);
                             }
                            &::before{
                                background-color: $yellow;
                            }
                            img{
                                width: rem(14);
                                margin-right: rem(10);
                            }
                        }
                        &.location-li{
                            padding-left: rem(25);
                            padding-right: rem(25);
                            border-left: 1px solid rgba(255, 255, 255, 0.29);
                            border-right: 1px solid rgba(255, 255, 255, 0.29);
                            @media screen and (max-width: 1366px){
                                padding-left: rem(15);
                                padding-right: rem(15);
                            }
                        }
                        &.login-li{
                            padding-left: rem(25);
                            padding-right: rem(25);
                            border-right: 1px solid rgba(255, 255, 255, 0.29);
                            @media screen and (max-width: 1366px){
                                padding-left: rem(15);
                                padding-right: rem(15);
                            }
                            &:last-child{
                                margin-right: rem(80);
                                a{
                                    font-size: 0;
                                    @media screen and (max-width: 1366px){
                                        padding-left: rem(0);
                                        padding-right: rem(0);
                                    }
                                    img{
                                        width: rem(18);
                                    }
                                }
                            }
                        }
                        ul{
                            li{
                                a{
                                    color: #1b1b1b;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-bar{
    padding: rem(27);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
    &::after{
        content: '';
        position: absolute;
        background: $yellow;
        width: 150%;
        height: 0;
        padding-bottom: 150%;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
        opacity: 0;
        transition: transform .3s cubic-bezier(.1,0,.3,1),opacity .3s;
    }
    &:hover{
        &::after{
            transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
            opacity: 1;
            transition: transform .4s cubic-bezier(.1,0,.3,1),opacity .3s;
        }
    }
}
#nav-icon {
    // display: none;
    width: rem(25);
    height: rem(25);
    max-width: rem(25);
    max-height: rem(25);
    position: relative;
    z-index: 9;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    // cursor: pointer;
    @media screen and (max-width: 991px) {
       display: block;
       z-index: 9;
    }
}

#nav-icon span {
    display: block;
    position: absolute;
    height: rem(2);
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: rem(2);
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: rem(11);
}

#nav-icon span:nth-child(4) {
    top: rem(20);
}

#nav-icon.open span:nth-child(1) {
    top: rem(6);
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: rem(20);
    width: 0%;
    left: 50%;
}


.mega-menu-wrap{
    height: 100vh;
    width: 40vw;
    background: black;
    position: absolute;
    top: 0;
    right: -40vw;
    padding:rem(250) 0 0 rem(100);
    transition: right .6s cubic-bezier(.77,0,.175,1);
    @media screen and (max-width:1199px) {
       display: none;
     }
    img{
        width: 125px;
        margin-bottom: rem(50);
    }
    h2{
        color: white;
        font-size: rem(20);
        line-height: 1.5;
    }
    h4, p{
        color: white;
    }
    .social-media{
        margin: 40px 0 0 0;
        padding: 0;
        display: flex;
        li{
            a{
                img{
                    width: auto;
                    margin-right: 15px;
                    max-height: 25px;
                }
            }
        }
    }
}

html.overflow-open{
    .mega-menu-wrap{
        right: 0;
        transition: right .6s cubic-bezier(.77,0,.175,1);
        @media screen and (max-width:1200px) {
            display: none;
        }
    }
    @media screen and (max-width:1199.90px) {
        .header-right{
            .main-nav{
                opacity: 1;
                -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                transform: scale(1, 1);
                ul{
                    width: 100%;
                    li{
                        a{
                            color: #1b1b1b!important;
                        }
                        &.location-li, &.login-li{
                            padding: 0!important;
                            a{
                                font-size: rem(14)!important;
                            }
                            img{
                                filter: invert(1);
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
      }
}

h2{
    font-size: rem(36);
    margin-bottom: rem(30);
    font-weight: 600;
    color: #1b1b1b;
    
    @media screen and (max-width: 992px) {
        font-size: rem(30);
    }
    @media screen and (max-width: 767px) {
        font-size: rem(24);
    }
}

ul{
    padding: 0;
}