.product-discription-wrap {
    padding-bottom: rem(100);
    background-color: #e5e5e5;
    @media screen and (max-width: 992px) {
        padding-bottom: rem(50);
    }
    .national-container {
        .nav-tabs {
            border: 0;
            border-bottom: 1px solid rgba(123, 114, 114, 0.49);
            padding-bottom: rem(30);
            margin-bottom: rem(30);
            @media screen and (max-width: 599px) {
                padding-bottom: rem(15);
                margin-bottom: rem(15);
            }
            .nav-item {
                margin-bottom: 0;
                @media screen and (max-width: 599px) {
                    padding-bottom: rem(1);
                }
                &:first-child {
                    padding-right: rem(35);
                    margin-right: rem(35);
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        height: rem(30);
                        width: rem(2);
                        right: rem(0);
                        top: rem(5);
                        background-color: rgba(123, 114, 114, 0.49);
                    }
                }

                a {
                    border: 0;
                    font-size: rem(23);
                    font-weight: 500;
                    color: #5a5a5a;
                    padding: 0;
                    position: relative;
                    background-color: #e5e5e5;
                    &.active {
                        color: $font-color;
                        font-weight: 600;

                        &::after {
                            position: absolute;
                            content: '';
                            background-color: $yellow;
                            bottom: rem(-1);
                            left: 0;
                            height: rem(3);
                            width: 100%;
                        }
                    }
                }
            }
        }

        .tab-content {
            .tab-pane {
                font-size: rem(14);
                font-weight: 400;
            }
        }
    }
}

.product-details-wrap{
    background-color: #e5e5e5;
    padding: rem(60) 0;
    @media screen and (max-width: 599px) {
        padding: rem(25) 0 rem(50) 0;
    }
    .national-container{
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
            align-items: flex-start;
        }
        @media screen and (max-width: 599px) {
            flex-direction: column;
        }
        .product-image-wrap{
            background-color: $white;
            border-radius: rem(10);
            width: 50%;
            max-width: 50%;
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
            }
            img{
                width: 100%;
                height: 100%;
                max-height: rem(550);
                object-fit: contain;
                border-radius: rem(10);
            }
        }
        .product-content-wrap{
            width: 50%;
            max-width: 50%;
            padding: rem(80);
            padding-right: 0;
            @media screen and (max-width: 992px) {
                padding: rem(50);
                padding-right: 0;
                padding-bottom: 0;
            }
            @media screen and (max-width: 767px) {
                padding: rem(25);
                padding-right: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
                padding: rem(25) 0 0 0;
            }
            p{
                font-size: rem(14);
                font-weight: 400;
                margin-bottom: rem(40);
            }
            .popular-rental-date {
                display: flex;
                justify-content: space-between;
                align-self: center;
                margin-bottom: rem(20);
                text-align: left;
                max-width: 50%;
                .popular-rental-single {
                    p {
                        font-size: rem(14);
                        font-weight: 400;
                        line-height: 1;
                        margin-bottom: rem(5);
                    }

                    b {
                        font-size: rem(21);
                        font-weight: 600;
                        color: $black;
                        line-height: 2;
                        padding-top:30px;
                    }
                }
            }

            a {
                font-size: rem(17);
                color: $font-color;
                font-weight: 500;
                width: 100%;
                max-width: rem(250);
                background-color: $yellow;
                border-radius: rem(30);
                padding: rem(17);
                display: block;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                border: 1px solid $yellow;
                &:hover{
                    background-color: white;
                    transition: all 0.3s ease-in-out;
                    border: 1px solid $font-color;
                }
            }
            .Categories-wrap{
                p{
                    font-size: rem(14);
                    font-weight: 400;
                    color: $black;
                    margin-bottom: rem(20);
                    span{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.product-list-main-wrap{
    padding: rem(100) 0;
    background-color: #e5e5e5;
    @media screen and (max-width: 1199px) {
        padding: rem(80) 0;
    }
    @media screen and (max-width: 991px) {
        padding: rem(60) 0;
    }
    @media screen and (max-width: 599px) {
        padding: rem(40) 0;
    }
    .national-container{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 599px) {
           flex-direction: column;
        }
        .product-categories-list-wrap{
            width: calc(25% - 35px);
            max-width: calc(25% - 35px);
            @media screen and (max-width: 1199px) {
                width: calc(25% - 20px);
                max-width: calc(25% - 20px);
            }
            @media screen and (max-width: 991px) {
                width: calc(30% - 10px);
                max-width: calc(30% - 10px);
            }
            @media screen and (max-width: 767px) {
                width: calc(40% - 10px);
                max-width: calc(40% - 10px);
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
            }
            >h2{
                font-size: rem(23);
                padding-bottom: rem(15);
                &::after{
                    bottom: rem(5);
                }
            }
            ul{
                padding: 0;
                li{
                    .categories-item{
                        margin-bottom: rem(15);
                        height: auto;
                        max-height: rem(16);
                        overflow: hidden;
                        transition: all 0.5s ease-in-out;
                        &.active{
                            max-height: rem(200);
                            transition: all 0.5s ease-in-out;
                        }
                        h3{
                            font-size: rem(14);
                            font-weight: 600;
                            cursor: pointer;
                        }
                        p{
                            font-size: rem(14);
                            font-weight: 400;
                            margin-bottom: rem(5);
                            padding-left: rem(20);
                            position: relative;
                            &::after{
                                position: absolute;
                                content: '';
                                width: rem(10);
                                height: rem(1);
                                background-color: $font-color;
                                left: 0;
                                top: rem(10);
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .product-categories-content-wrap{
            width: calc(75% - 35px);
            max-width: calc(75% - 35px);
            @media screen and (max-width: 1199px) {
                width: calc(75% - 20px);
                max-width: calc(75% - 20px);
            }
            @media screen and (max-width: 991px) {
                width: calc(70% - 10px);
                max-width: calc(70% - 10px);
            }
            @media screen and (max-width: 767px) {
                width: calc(60% - 10px);
                max-width: calc(60% - 10px);
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
            }
            p.all-equipment{
                text-align: right;
                img{
                    width: rem(25);
                    max-width: rem(25);
                    margin-right: rem(10);
                }
                a{
                    font-size: rem(16);
                    text-decoration: underline;

                }
            }
            .popular-rental-content-wrapp {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .popular-rental-block {
                    width: calc(33.33% - 20px);
                    max-width: calc(33.33% - 20px);
                    background-color: white;
                    padding: rem(25);
                    border-radius: rem(20);
                    // margin-right: rem(40);
                    text-align: center;
                    margin-bottom: 35px;
                    @media screen and (max-width: 1199px) {
                        width: calc(33.33% - 15px);
                        max-width: calc(33.33% - 15px);
                        margin-bottom: 25px;
                    }
                    @media screen and (max-width: 991px) {
                        width: calc(50% - 10px);
                        max-width: calc(50% - 10px);
                    }
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        max-width: 100%;
                    }
                    &:last-child {
                        margin-right: rem(0);
                    }
        
                    img {
                        // width: calc(100% - 20px);
                        margin: auto;
                        margin-bottom: rem(35);
                        object-fit: contain;
                        min-height: 160px;
                    }
        
                    h3 {
                        font-size: rem(18);
                        font-weight: 500;
                        margin-bottom: rem(25);
                        text-align: left;
                    }
                    .location-detail{
                        display: flex;
                        align-items: center;
                        margin-bottom: rem(20);
                        p {
                            font-size: rem(12);
                            color: $font-color;
                            font-weight: 500;
                            text-align: left;
                            text-decoration: underline;
                            margin-bottom: 0;
                        }
                        img{
                            min-height: unset;
                            height: 14px;
                            width: 14px;
                            -webkit-filter: grayscale(0);
                            filter: invert(1);
                            margin: 0;
                            margin-right: rem(5);
                        }
                    }
        
        
                    .popular-rental-date {
                        display: flex;
                        justify-content: space-between;
                        align-self: center;
                        margin-bottom: rem(20);
                        text-align: left;
        
                        .popular-rental-single {
                            p {
                                font-size: rem(17);
                                font-weight: 500;
                                line-height: 1;
                                margin-bottom: rem(5);
                            }
        
                            b {
                                font-size: rem(21);
                                font-weight: 600;
                                color: $black;
                                line-height: 2;
                                padding-top:30px;
                            }
                        }
                    }
        
                    a {
                        font-size: rem(17);
                        color: $font-color;
                        font-weight: 500;
                        width: 100%;
                        background-color: white;
                        border-radius: rem(30);
                        padding: rem(17);
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        border: 1px solid $font-color;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            background-color: $yellow;
                            transition: all 0.3s ease-in-out;
                            border: 1px solid $yellow;
                        }
                    }
                }
            }
        }
    }
}

.about-main-wrap{
    padding: rem(115) 0;
    @media screen and (max-width: 991px) {
        padding: rem(60) 0;
    }
    @media screen and (max-width: 767px) {
        padding: rem(40) 0;
    }
    h2{
        font-size: rem(30);
    }
    p{
        font-size: rem(20);
        font-weight: 400;
        margin-bottom: rem(60);
            @media screen and (max-width: 767px) {
                margin-bottom: rem(30);
            }
    }
    .about-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
           align-items: flex-start;
        }
        @media screen and (max-width: 767px) {
           flex-direction: column;
        }
        .about-left-wrap{
            width: calc(45% - 40px);
            max-width: calc(45% - 40px);
            @media screen and (max-width: 991px) {
                width: calc(45% - 20px);
                max-width: calc(45% - 20px);
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 100%;
                margin-bottom: rem(30);
            }
            img{
                height: rem(500);
                object-fit: cover;
            }
        }
        .about-right-wrap{
            width: calc(55% - 40px);
            max-width: calc(55% - 40px);
            @media screen and (max-width: 991px) {
                width: calc(55% - 20px);
                max-width: calc(55% - 20px);
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 100%;
            }
            p{
                font-size: rem(15);
                margin-bottom: rem(30);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.client-review-wrap{
    background-image: url(../images/road-roller.png);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color:#000;
    background-position: center center;
    height: rem(750);
    // margin-top: -5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 991px) {
        height: rem(600);
    }
    @media screen and (max-width: 767px) {
        height: rem(500);
    }
    @media screen and (max-width: 599px) {
        height: rem(400);
    }
    .client-icons{
        margin-bottom: rem(40);
        display: block;
        img{
            height: rem(50);
            &:last-child{
                margin-left: rem(20);
            }
        }
    }
    h2.title{
        font-size: rem(45);
        color: $white;
        font-weight: 500;
        margin-bottom: 40px;
        @media screen and (max-width: 991px) {
            font-size: rem(35);
        }
    }
    p{
        color: $white;
        font-size: rem(24);
        line-height: rem(25);
        margin-bottom: 0;
        small{
            font-size: rem(12);
        }
    }
}

.vision-mision-main-wrap{
    padding: rem(70) 0;
    background-color: $yellow;
    @media screen and (max-width: 767px) {
        padding: rem(50) 0;
    }
    .national-container{
        display: flex;
        @media screen and (max-width: 599px) {
            flex-direction: column;
        }
        .vision-mision-wrap{
            @media screen and (max-width: 599px) {
                margin-bottom: rem(45);
                &:last-child{
                    margin-bottom: 0;
                }
            }
            img{
                height: rem(40);
                margin-bottom: rem(30);
            }
            p{
                font-size: rem(16);
                margin-bottom: rem(15);
                font-weight: 600;
            }
            small{
                width: 85%;
                text-align: left;
                font-size: rem(14);
                display: block;
                @media screen and (max-width: 599px) {
                    width: 100%;
                }
            }
        }
    }
}

.our-values-wrap{
    padding: rem(60) 0;
    @media screen and (max-width: 1200px) {
        padding: rem(50) 0 0 0;
    }
    .value-tab-wrap{
        .nav.nav-pills{
            margin-bottom: rem(40);
            @media screen and (max-width: 992px) {
                margin-bottom: rem(20);
            }
            li{
                a{
                    font-size: rem(17);
                    padding-right: rem(100);
                    padding-bottom: rem(20);
                    display: block;
                    font-weight: 500;
                    text-decoration: none;
                    color: #000;
                    @media screen and (max-width: 992px) {
                        padding-right: rem(60);
                        padding-bottom: rem(10);
                    }
                    @media screen and (max-width: 767px) {
                        padding-right: rem(20);
                    }
                }
                &.active{
                    a{
                        border-bottom: 2px solid $yellow;
                        font-weight: 600;
                    }
                }
            }
        }
        .tab-content-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 992px) {
               align-items: flex-start;
            }
            @media screen and (max-width: 767px) {
                flex-direction: column;
             }
            .tab-left-content-wrap{
                width: calc(40% - 25px);
                max-width: calc(40% - 25px);
                @media screen and (max-width: 992px) {
                    width: calc(40% - 15px);
                    max-width: calc(40% - 15px);
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }
                p{
                    font-size: rem(15);
                }
            }
            .tab-right-content-wrap{
                width: calc(60% - 25px);
                max-width: calc(60% - 25px);
                @media screen and (max-width: 992px) {
                    width: calc(60% - 15px);
                    max-width: calc(60% - 15px);
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.past-performance-wrap{
    padding: rem(100) 0;
    @media screen and (max-width: 992px) {
        padding: rem(50) 0;
    }
    .past-performance-image-wrap{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
}

.contact-main-wrap{
    padding: rem(100) 0 rem(75) 0;
    @media screen and (max-width: 992px) {
        padding: rem(60) 0 rem(50) 0;
    }
    @media screen and (max-width: 767px) {
        padding: rem(40) 0 rem(35) 0;
    }
    .national-container{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 599px) {
            flex-direction: column;
        }
        .contact-content-wrap{
            width: 35%;
            max-width: 35%;
            padding-right: rem(85);
            @media screen and (max-width: 992px) {
                padding-right: rem(40);
            }
            @media screen and (max-width: 767px) {
                padding-right: rem(30);
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
                margin-bottom: rem(40);
                padding-right: 0;
            }
            &.rental-wrap{
                h2.title{
                    font-size: rem(30);
                    line-height: 1;
                    @media screen and (max-width: 767px) {
                        font-size: rem(26);
                    }
                }
                ul{
                    margin-bottom: rem(50);
                    @media screen and (max-width: 599px) {
                        margin-bottom: rem(0);
                    }
                    li{
                        border-bottom: 1px solid #666;
                        color: $font-color;
                        font-weight: 600;
                        font-size: rem(16);
                        padding: rem(25) 0;
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: 992px) {
                            padding: rem(15) 0;
                        }
                        @media screen and (max-width: 767px) {
                            padding: rem(10) 0;
                        }
                        span.dot{
                            width: rem(10);
                            height: rem(10);
                            background-color: $yellow;
                            border-radius: 50%;
                            display: none;
                            margin-right: rem(10);
                        }
                        &:first-child{
                            border-top: 1px solid #666;
                        }
                        &.active{
                            span{
                                display: block;
                            }
                        }
                    }
                }
                .download-main-wrap{
                    .download-wrap{
                        background-color: $yellow;
                        padding: 0 rem(25);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: rem(300);
                        @media screen and (max-width: 992px) {
                            height: rem(200);
                        }
                        @media screen and (max-width: 767px) {
                            height: rem(250);
                            padding: 0 rem(15);
                        }
                        @media screen and (max-width: 599px) {
                            height: rem(150);
                        }
                        small,p{
                            display: block;
                            text-align: left;
                            width: 100%;
                        }
                        small{
                            font-size: rem(13);
                            margin-bottom: rem(15);
                        }
                        p{
                            font-size: rem(26);
                            font-weight: 600;
                            line-height: 1;
                            margin-bottom: 0;
                        }
                    }
                    .download-pdf{
                        background-color: #000;
                        padding: rem(20);
                        cursor: pointer;
                        p{
                            margin-bottom: 0;
                            color: $yellow;
                            font-size: rem(16);
                            span{
                                color: $white;
                                padding-right: rem(5);
                            }
                        }
                    }
                }
            }
            .contact-content{
                margin-bottom: rem(35);
                @media screen and (max-width: 599px) {
                    margin-bottom: rem(5);
                }
                small{
                    font-size: rem(14);
                    font-weight: 400;
                }
                P{
                    font-size: rem(16);
                    font-weight: 600;
                    margin-bottom: 0;
                    @media screen and (max-width: 992px) {
                        word-break: break-all;
                    }
                }
            }
        }
        .contact-address-wrap{
            width: 65%;
            max-width: 65%;
            @media screen and (max-width: 599px) {
                width: 100%;
                max-width: 100%;
            }
            h2{
                font-size: rem(34);
                @media screen and (max-width: 992px) {
                    font-size: rem(30);
                }
                @media screen and (max-width: 767px) {
                    font-size: rem(24);
                }
            }
            form{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .btn-wrap{
                    margin-top: rem(80);
                    @media screen and (max-width: 992px) {
                        margin-top: rem(50);
                    }
                    @media screen and (max-width: 767px) {
                        margin-top: rem(25);
                    }
                    
                }
            }
            .rental-main-wrap{
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-between;
                .rental-block{
                    width: calc(50% - 30px);
                    max-width: calc(50% - 30px);
                    transition: all 0.4s;
                    @media screen and (max-width: 992px) {
                        width: calc(50% - 15px);
                        max-width: calc(50% - 15px);
                    }
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        max-width: 100%;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        max-height: rem(210);
                        min-height: rem(210);
                        object-fit: cover;
                        margin-bottom: rem(30);
                        filter: grayscale(1);
                        // @media screen and (max-width: 992px) {
                        //     max-height: rem(210);
                        //     min-height: rem(210);
                        // }
                        @media screen and (max-width: 767px) {
                            max-height: unset;
                            min-height: unset;
                        }
                    }
                    p{
                        margin-bottom: rem(15);
                        font-size: rem(22);
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        span.dot{
                            width: rem(20);
                            height: rem(20);
                            min-width: rem(20);
                            min-height: rem(20);
                            background-color: $yellow;
                            border-radius: 50%;
                            display: none;
                            margin-right: rem(10);
                            transition: all 0.4s;
                        }
                    }
                    small{
                        font-size: 14px;
                        font-weight: 400;
                        display: block;
                        margin-bottom: rem(30);
                    }
                    &.active,&:hover{
                        img{
                            // filter: grayscale(0);
                        }
                        p{
                            span{
                                display: block;
                            }
                        }
                    }
                }
                &.category-main-wrap{
                    .rental-block{
                        width: 100%;
                        max-width: 100%;
                        img{
                            max-height: rem(250);
                            height: rem(250);
                        }
                        .category-sub-wrap{
                            display: flex;
                            align-items: flex-start;
                            margin-bottom: rem(70);
                            @media screen and (max-width: 992px) {
                                flex-direction: column;
                                margin-bottom: rem(40);
                            }
                            p{
                                width: 45%;
                                padding-right: rem(80);
                                @media screen and (max-width: 1199px) {
                                    padding-right: rem(40);
                                    font-size: rem(20);
                                }
                                @media screen and (max-width: 992px) {
                                    width: 100%;
                                    padding-right: rem(0);
                                }
                            }
                            small{
                                border-left: 1px solid #a6a6a6;
                                width: 55%;
                                padding-left: rem(40);
                                margin-bottom: 0;
                                @media screen and (max-width: 1199px) {
                                    padding-left: rem(40);
                                }
                                @media screen and (max-width: 992px) {
                                    width: 100%;
                                    padding-left: rem(0);
                                    border: 0;
                                }
                            }
                        }
                    }
                    .pagination-wrap{
                        border-top: 1px solid #a6a6a6;
                        padding-top: rem(25);
                        width: 100%;
                        text-align: right;
                        p{
                            font-size: rem(18);
                            font-weight: 500;
                            margin-bottom: 0;
                            img{
                                width: rem(20);
                                height: rem(20);
                                object-fit: contain;
                                padding-left: rem(10);
                            }
                        }
                    }
                }
            }
        }
    }
}
.recent-articles-wrap{
    margin-bottom: rem(40);
    .recent-article{
        display: flex;
        align-items: center;
        margin-bottom: rem(15);
        .recent-article-image{
            img{
                height: rem(70);
                width: rem(70);
                min-height: rem(70);
                min-width: rem(70);
                object-fit: contain;
            }
        }
        .recent-article-content{
            margin-left: rem(20);
            small{
                font-size: rem(12);
                color: #777777;
                font-weight: 400;
                margin-bottom: rem(15);
            }
            p{
                margin-bottom: 0;
                font-size: rem(14);
                color: #1b1b1b;
                font-weight: 600;
                line-height: 1;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }
}
.auth-wrapp{
    min-height: 100vh;
    @media screen and (max-width: 767px){
        display: grid!important;
        flex-wrap: wrap-reverse;
    }
    .left{
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 767px){
            max-width: 100%;
            width: 100%;
            order: 2;
        }
        .content{
            padding: 0 10%;
            margin: auto 0;
            // width: calc(100% - 20%);
            @media screen and (max-width: 767px){
                width: 100%;
                max-width: 100%;
                padding: 40px 15px;
                img{
                    max-width: rem(150);
                }
            }
        }
    }
    .right{
        @media (max-width: 767.98px){
            width: 100%;
            max-width: 100%;
        }
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(27, 27, 27, 0.8);
        }
        .content{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 100px 60px 40px 60px;
            top: 0;
            left: 0;
            flex-wrap: wrap;
            @media screen and (max-width: 992px){
                padding: 70px 30px;
            }
            @media screen and (max-width: 767px){
                padding: 40px 15px;
            }
            h1{
                max-width: 520px;
                @media (max-width: 991.98px) {
                    font-size:24px;
                }
            }
            .top{
            }
            .bottom{
                color: $white;
                margin: auto 0 0 0;
                position: relative;
                h6{
                    font-size: rem(16);
                    font-weight: 600;
                }
                p{
                    font-size: rem(13);
                    font-weight: 400;
                }
                span.down-logo-wbe{
                    position: absolute;
                    bottom: rem(10);
                    right:rem(10);
                    img{
                        width: rem(100);
                        height: rem(50);
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .copy-right{
        position: absolute;
        left: 10%;
        bottom: 40px;
        width: 100%;
        font-size: 14px;
        max-width: calc(100% - 20%);
        @media screen and (max-width: 767px){
            position: inherit;
            left: inherit;
            bottom: inherit;
            padding-top: 30px;
        }
    }
}
.auth-cred{
    a{
        font-size: 14px;
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.4s;
        &:hover{
            color: $text-color;
            text-decoration: none;
        }
    }
}
.cust-field{
    width: calc(50% - 45px);
    max-width: calc(50% - 45px);
    border-bottom: 1px solid #666;
    margin-bottom: rem(25);
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
    }
    &.full-width{
        max-width: 100%;
        width: 100%;
    }
    &.subject-field{
        label{
            width: rem(240);
        }
    }
    label{
        font-size: rem(12);
        font-weight: 500;
        width: rem(100);
        color: #777777;
    }
    input{
        font-size: rem(15);
        font-weight: 700;
        border: 0;
        width: 100%;
        margin-bottom: 0.5rem;
        &::placeholder{
            font-weight: 700;
            color: $text-color;
        }
    }
    select{
        width: 100%;
        border: 0;
        font-size: rem(15);
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    &.cust-field-full{
        width: 100%;
        max-width: 100%;
    }
    &.cust-field-full.subject-field{
        flex-direction: column;
        align-items: flex-start;
        textarea{
            width: 100%;
            border: 0;
            resize: none;
        }
    }
}
.category-detail-wrap{
    p{
        color: #5b5b5b;
        font-size: rem(16);
        margin-bottom: rem(30);
    }
    h3{
        color: #5b5b5b;
        font-size: rem(22);
        font-weight: 600;
        margin-bottom: 0;
        margin-bottom: rem(25);
    }
    h4{
        color: #5b5b5b;
        font-size: rem(20);
        font-weight: 600;
    }
    .detail-inner-image-wrap{
        margin-bottom: rem(30);
        img{
            height: rem(450);
            object-fit: cover;
            @media screen and (max-width: 1199px) {
                height: rem(350);
            }
            @media screen and (max-width: 992px) {
                height: rem(300);
            }
        }
    }
}
.share-wrap{
    display: flex;
    align-items: center;
    margin-bottom: rem(40);
    p{
        font-size: rem(18);
        font-weight: 600;
        margin-bottom: 0;
        margin-right: rem(15);
    }
    span{
        img{
            height: rem(20);
        }
    }
}
