// deafult Color
$primary-color : #007bff !default; // green
$secondary-color : #41B6F7 !default; // red
$quinary-color : #272727 !default; // Grey
// Custom-color
$dark-bg : #20222E !default;
$dark-gray : #323241 !default;
$light-bg : #EDF1F7 !default;
$text-color: #1D1D1D !default;
$title-color: #1D1D1D !default;
$hover :$primary-color;
$border-color : #E6E6E6 !default;
$text-alt: #282828 !default;
$text-off: #281107 !default;
$white: #fff !default;
$black: #000 !default;
$red: #C60C02 !default;
$yellow:#ffe60a;
$font-color:#1b1b1b;
// Font size
$base-font: 1.6rem !default;
$text-xs: 1rem !default;
$text-sm: 1.2rem !default;
$text-md: 2.3rem !default;
$text-lg: 1.4rem !default;
$ttl-xs: 1.8rem !default;
$ttl-sm: 2.2rem !default;
$ttl-md: 2.3rem !default;
$ttl-lg: 3.2rem !default;
// Font Family
$font-family: 'Oxygen',
sans-serif;
$d-ico: 'deafult-icons' !default;
//button
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-weight-title : $font-semibold;
// Spacing
$gutter-1: 30px !default; // 30px
$spacing: 50px !default; // 50px.
// zindex
$header-z:999;
$filter-z:99;

body {
  font-family: 'Poppins', sans-serif;
  // cursor: none;
}

.d-flx {
  @include flexbox();

  &.no-wrap {
    @include flex-wrap(nowrap);
  }
}

.flx-both {
  @include flx(both);
}

.flx-top {
  @include flx(top);
}

.flx-bottom {
  @include flx(bottom);
}

.flx-vcenter {
  @include flx(vcenter);
}

.flx-left {
  @include flx(left);
}

.flx-right {
  @include flx(right);
}

.flx-hcenter {
  @include flx(hcenter);
}

.flx-equal-space {
  @include flx(eqaul-space);
}

.cf {
  @include clearfix();
}

.d-blk {
  display: block;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.tel {
  cursor: default;
}

.no-pad {
  padding: 0 !important;
}
.pb-40{
  padding-bottom: 40px;
  
}
.pb-60{
  padding-bottom: 60px;
}

input{
  &:focus, &:focus-visible{
    outline: none;
  }
}


.default {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;

  li {
    list-style-type: none;

    &:before,
    &:after {
      display: none;
    }
  }
}

ul{
  list-style: none;
}
a{
  color: #1D1D1D;
  text-decoration: none;
}

.ttl
.ttl-22 {
  font-size: size(22);
}

.ttl-17 {
  font-size: size(17);
}


/* Pixel to REM */
$browser-context: 17; // Default.resource-categories

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.bg-img-100-vh{
  width: 100%;
  height: 100vh;
  object-fit:cover;
}